<h1>Find a Shop</h1>

<div id="search_bar">
</div>

<div id="results_table">
	<table>
	  <tr>
	    <th>Name</th><th>Address</th><th>Phone</th><th>Zip</th>
	  </tr>
	  <% @shops.each do |shop| %>

	    <tr>
	      <td> <%= shop.name %> </td>
	      <td> <%= shop.address %> </td>
	      <td> <%= shop.phone %> </td>
	      <td> <%= shop.zip %> </td>
	    </tr>
	  
	  <% end %>
	</table>
</div>