// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shop_new {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#create_shop_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn.btn-light {
	border-color: #f01f74;
	background-color: #f01f74;
}

.field_with_errors {
	display: inline;
}